
<div class="bottom-footer">
    <hr>
    <!-- <span class="mini-note">You've reached the end of the page. Good job!</span> -->
    <nav class="sans">
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn">Menu</label>
        <ul class="site-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/articles">Articles</a></li>
            <li><a href="/designs">Designs</a></li>
            <li><a href="/about">About</a></li>
            <!-- <li><a href="/feed.xml">RSS</a></li> -->
        </ul>
    </nav>
    
</div>
