<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li>
            <a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github-square fa-3x" aria-hidden="false"></i></a>
            <a href="https://in.linkedin.com/in/{{ site.linkedin_username }}"><i class="fa fa-linkedin-square fa-3x" aria-hidden="false"></i></a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>

<!-- Scripts -->
  <script src="https://use.fontawesome.com/109abb7e19.js"></script>
  <script type="text/javascript" src="{{ "/assets/scripts/main.js" | relative_url }}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>