<h2 class="title">{{ site.title }}</h2>
<nav>
    <a href="{{ site.url }}">Home</a>
    <a href="{{ site.url }}{{ site.Blog }}">Blog</a>

    {% for link in site.links %}
    <a href="{{ site.url }}{{ link[1] }}">{{ link[0] }}</a>
    {% endfor %}

    {% for link in site.special_links %}
    <a href="{{ link[1] }}">[{{ link[0] }}]</a>
    {% endfor %}
</nav>

<!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
<script>
    (function (f, a, t, h, o, m) {
        a[h] = a[h] || function () {
            (a[h].q = a[h].q || []).push(arguments)
        };
        o = f.createElement('script'),
            m = f.getElementsByTagName('script')[0];
        o.async = 1; o.src = t; o.id = 'fathom-script';
        m.parentNode.insertBefore(o, m)
    })(document, window, '//fathom.knhash.in/tracker.js', 'fathom');
    fathom('set', 'siteId', 'DPNAI');
    fathom('trackPageview');
</script>
<!-- / Fathom -->