{% if site.ga_analytics %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.ga_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ site.ga_analytics }}');
  </script>
{% endif %}

{% unless site.local_fonts %}
  <script src="{{ 'assets/webfonts.js' | absolute_url }}" type="text/javascript"></script>
{% endunless %}

{% if site.scrollappear_enabled %}
  <script src="{{ 'assets/scrollappear.js' | absolute_url }}" type="text/javascript"></script>
{% endif %}

<script src="{{ 'assets/application.js' | absolute_url }}" type="text/javascript"></script>





