/***********************************************/
/* Defaults */
/***********************************************/
	body, html {
		font-family: 'Lato', sans-serif;
		text-rendering: optimizeLegibility !important;
		-webkit-font-smoothing: antialiased !important;
		color: #777;
	}
	h5 {
		text-transform: lowercase;
		letter-spacing: 1px;
	}
	p {
		text-transform: lowercase;
		font-size: small;
		letter-spacing: 1px;
	}
	a {
		color: #009688;
	}
	a:hover, a:focus {
		text-decoration: none;
		color: #222;
	}
	.clearfix:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
	.clearfix {
		display: inline-block;
	}
	* html .clearfix {
		height: 1%;
	}
	.clearfix {
		display: block;
	}
	ul, ol {
		padding: 0;
		webkit-padding: 0;
		moz-padding: 0;
		list-style: none;
	}
	hr {
		height: 3px;
		width: 75%;
		text-align: center;
		position: relative;
		background: #ffffff;
		border: 0;
		margin: 10px auto 30px;
	}
	.btn-default {
		color: #fff;
		font-family: 'Lato', sans-serif;
		background-color: transparent;
		border: 2px solid rgba(255,255,255,0.8);
		margin: 0 8px;
		padding: 12px 24px;
		font-size: small;
		letter-spacing: 1px;
		text-transform: lowercase;
		transition: all 0.5s;
		border-radius: 4px;
	}
	.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
		background-color: #fff;
		color: #009688;
		border-color: #fff;
	}
/***********************************************/
/* Navigation */
/***********************************************/
	#menu {
		padding: 20px;
		transition: all 0.8s;
	}
	#menu.navbar-default {
		background-color: rgba(248, 248, 248, 0);
		border-color: rgba(231, 231, 231, 0);
	}
	#menu a.navbar-brand {
		text-transform: lowercase;
		font-size: small;
		letter-spacing: 1px;
		color: #fff;
		font-weight: 900;
	}
	#menu a.navbar-brand i.fa {
		color: rgba(255,255,255,0.7);
		margin-right: 3px;
	}
	#menu.navbar-default .navbar-nav > li > a {
		text-transform: lowercase;
		color: #eeeeee;
		font-size: small;
		letter-spacing: 1px;
	}
	#menu.navbar-default .navbar-nav > li > a:hover {
		color: #00A0A0;
	}
	.on {
		background-color: #222222 !important;
		padding: 0 !important;
	}
	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
		color: #009688 !important;
		background-color: transparent;
	}
	.navbar-toggle {
		/*border-radius: 5;*/
		border: 0;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: #00000000;
		border: 0;
	}
	.navbar-default .navbar-toggle:hover>.icon-bar {
		background-color: #FFF;
	}
/***********************************************/
/* Home Section */
/***********************************************/
	header {
		background: #3498db;/*url(../img/header-bg.jpg) no-repeat bottom right;*//*
		background-size: cover;
		color: #cfcfcf;
		position: relative;
		height: 100%;*/
	}
	.intro-text {
		position: relative;
		padding-top: 50vh;
		height: 100vh;
	}
	.intro-text H1 {
		font-size: x-large;
		text-transform: lowercase;
		letter-spacing: 1px;
		color: #fff;
	}
/***********************************************/
/* About Section */
/***********************************************/
	#about-section {
		padding-top: 10vh;
		background: #9b59b6;
		color: #FFFFFF;
		height: 100vh;
	}
	#about-section p {
		margin-bottom: 30px;
	}
	.row.row-eq-height {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display:         flex;
	}
	img.about-img.img-responsive {
		border: 5px solid #607d8b;
		border-radius: 50%;
		margin: 0 auto;
	}
/***********************************************/
/* Skills Section */
/***********************************************/
	#skills-section {
		padding-top: 20vh;
		background: #e74c3c;
		color: #FFFFFF;
		height: 100vh;
	}
	#skills-section i.fa {
		font-size: medium;
		margin-bottom: 20px;
		transition: all 0.5s;
		color: #ffffff;
	}
/***********************************************/
/* Hire Section */
/***********************************************/
	#hire-section {
		padding-top: 40vh;
		background: #34495e;
		color: #FFFFFF;
		height: 100vh;
	}
/***********************************************/
/* Social Section */
/***********************************************/
	#social-section {
		padding-top: 40vh;
		background-color: #27ae60;
		text-align: center;
		color: #FFFFFF;
		height: 100vh;
	}
	#social-section .social ul li {
		display: inline-block;
		margin: 0 20px;
	}
	#social-section .social i.fa {
		font-size: x-large;
		padding: 4px 4px;
		color: #FFFFFF;
		transition: all 0.5s;
	}
	#social-section .social i.fa:hover {
		color: #666;
	}
/***********************************************/
/* Footer */
/***********************************************/
	#footer {
		background-color: #ecf0f1;
		color: #777;
		padding: 15px 0 10px 0;
		text-align: center;
	}
	#footer p {
		font-size: small;
		letter-spacing: 1px;
		text-transform: lowercase;
		margin-top: 10px;
	}
	#footer a {
		color: #999;
	}
	#footer a:hover, a:focus {
		text-decoration: none;
		color: #009688;
	}
/***********************************************/
/* Rest */
/***********************************************/
	@media (max-width: 768px) {
	.content {
		padding: 40% 0 0;
	}
	}

	@media (max-width: 603px) {
	#menu.navbar-default {
		background-color: rgba(0, 0, 0, 0.7);
	}
	label {
		float: none !important
	}
	.hover-bg .hover-text {
		padding: 12% 10%;
	}
	}

	@media (max-width: 360px) {
	.hover-bg .hover-text {
		padding: 22% 10%;
	}
	}
